@{
    ViewData["Title"] = "Home Page";
}
<div class="video-container-div">
    <video id="videoBG" poster="../Image/Screenshot(4)"autoplay="autoplay" muted="muted" loop="loop">
        <source src="../video/BackgroundM.mp4" type="video/mp4">
    </video>
</div>
<h1 class="org-title display-4 text-center">Ethiopian Institute of Resilience and Climate Change Adaptation</h1>
<div class="newsContainer">
    <h4 class="display-4 text-center">Catch up with the news</h4>
    <div class="card-group p-5">
        <div class="card card-grow inline-cards" style="width: 18rem;">
        <img class="card-img-top" src="https://m.files.bbci.co.uk/modules/bbc-morph-news-waf-page-meta/2.5.2/bbc_news_logo.png" alt="BBC LOGO">
        <div class="card-body">
            <h5 class="card-title">UN talks: Climate Change</h5>
            <p class="card-text">UN climate talks in Madrid enter their final scheduled day with divisions emerging between major emitting countries and small island states.</p>
            <a href="http://www.bbc.com/news/science-environment-50763123" class="btn btn-primary">Read more</a>
        </div>
        </div> 
        <div class="card card-grow inline-cards" style="width: 18rem;">
        <img class="card-img-top" src="https://pmcvariety.files.wordpress.com/2013/08/t_logo_2048_black.png?w=1000&h=563&crop=1" alt="NYT LOGO">
        <div class="card-body">
            <h5 class="card-title">NYT: Waning Forests of Ethiopia</h5>
            <p class="card-text">In Ethiopia, church forests are withstanding environmental destruction — but just barely.</p>
            <a href="https://www.nytimes.com/2019/12/03/opinion/church-forests-ethiopia.html" class="btn btn-primary">Read more</a>
        </div>
        </div>
        <div class="card card-grow inline-cards" style="width: 18rem;">
        <img class="card-img-top" src="https://rojavainformationcenter.com/storage/2019/03/aljazeera.png" alt="NYT LOGO">
        <div class="card-body">
            <h5 class="card-title">Wonder plant to fight global warming</h5>
            <p class="card-text">Scientists are working to determine if enset - an Ethiopian staple - could aid in the battle against climate change.</p>
            <a href="https://www.aljazeera.com/ajimpact/steroids-potential-life-saver-warming-world-191128181518385.html" class="btn btn-primary">Read more</a>
        </div>
        </div>
    </div>
</div>
<div class="church-img img-fluid">

</div>
<div class="card featured-card  text-center">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body featured-body">
    <h5 class="card-title">"Africa will bear the brunt of global warming" -UN</h5>
    <p class="p-5">
        Africa is responsible for less than 4% of global greenhouse gas emission, but is the most vulnarble to the devastating counsequences of global warming.
    </p>
    <a href="https://www.brookings.edu/wp-content/uploads/2016/08/global_20160818_cop21_africa.pdf" class="btn btn-outline-primary">Go somewhere</a>
  </div>
</div>
<div class="CCinAfrica">
    <h2 id="quote" class="display-4 p-5">
        "Africa is responsible for less than 4% of global greenhouse gas emission, but is the most vulnarble to the devastating counsequences of global warming."<br> - UN study finds
    </h2>
    <iframe class="p-5" width="560" height="415" src="https://www.youtube.com/embed/k0OFchuac-o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
